.info{
    min-height: calc(90vh - 18rem);
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

    &__textWrapper{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    &__text{
        font-size: 2.3rem;
        color: #5a8989;
        font-weight: 400;
        line-height: 1.1em;
    }

    &__startButton{
        font-family: 'Ubuntu', sans-serif;
        background: transparent;
        color: #19aeaa;
        border: 0.1rem solid #19aeaa;
        padding: 1rem 1.4rem;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 400;

        border-top-left-radius: 1.8rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 1.8rem;
        transition: all .3s ease-in-out;
        cursor: pointer;

        &:hover{
            border-top-left-radius: 0;
            border-top-right-radius: 1.8rem;
            border-bottom-left-radius: 1.8rem;
            border-bottom-right-radius: 0;
        }
    }
}