@use "../../abstracts/colors";
.vragen{
    min-height: calc(90vh - 18rem);
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: map-get(colors.$primaryColors,"blue");
    
    &__vraagNummerWrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

    }

    &__vraagNummer{
        font-size: 1.8rem;
    }

    &__vraag{
    
    }

    &__labelWrapper{
        width: 100%;
        font-size: 1.8rem;
        display: flex;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 3rem;
    }

    &__label{

    }

    &__scoreList{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        &Item{
            width: 100%;
            height: 2rem;
            list-style: none;
            height: 6rem;
            border: map-get(colors.$primaryColors,"blue") 0.1rem solid;
            display: flex;
            justify-content: center;

        }

        &P{
            align-self: center;
            justify-self: center;
            font-weight: 700;
        }

        &RadioBtn{
            display: none;
        }
    }

    &__scoreButtonListWrapper{
        width: 100%;
        height: 100%;
    }

    &__scoreButtonList{
        width: 100%;
        //display is changed via javascript to grid
        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        &Item{
            width: 100%;
            list-style: none;
            height: 6rem;
            display: flex;
            justify-content: center;
        }

    }

   

    &__scoreButton{
        width: 3rem;
        aspect-ratio: 1/1;
    }

    &__navButtons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin-top: 4rem;

    }

    &__navButton{
        width: 100%;
        height: 6rem;
        border: 0.1rem solid map-get(colors.$primaryColors,"blue");
        background: none;
        font-weight: 800;
        font-size: 2rem;
        color: map-get(colors.$primaryColors,"blue");

        &:hover{
            cursor: pointer;
            background: map-get(colors.$primaryColors,"buttonHover");
        }
    }

    &__progBar{
        width: 80%;
        height: 2.4rem;
        border: 0.1rem solid map-get(colors.$primaryColors,"blue");

        &Fill{
            overflow: hidden;
            width: 20rem;
            height: 100%;
            background: map-get(colors.$primaryColors,"lightBlue");
        }
    }

    &__info{
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.8rem;
        margin-top: 2rem;
    }  

    &__finishButton{
        &:hover{
            background: map-get(colors.$primaryColors,"buttonHover");
        }
    }

    &__finishButton--right{
        border-top-left-radius: 0;
        border-top-right-radius: 1.8rem;
        border-bottom-left-radius: 1.8rem;
        border-bottom-right-radius: 0rem;

        &:hover{
            border-top-left-radius: 1.8rem;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 1.8rem;            
        }
    }

}